[tool.poetry]
name = "cmeel"
version = "0.12.0"
description = "Create Wheel from CMake projects"
authors = ["Guilhem Saurel <guilhem.saurel@laas.fr>"]
license = "BSD-2-Clause"
readme = "README.md"
include = ['cmeel.pth']
homepage = "https://github.com/cmake-wheel/cmeel"

[tool.poetry.dependencies]
python = "^3.8"
tomli = "^2.0.1"
cmake = { version = "^3.22.3", optional = true }
packaging = { version = "^21.3", optional = true }
wheel = { version = "^0.37.1", optional = true }


[tool.poetry.extras]
build = ["cmake", "packaging", "wheel"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
