[tool.poetry]
name = "cmeel"
version = "0.29.0"
description = "Create Wheel from CMake projects"
authors = ["Guilhem Saurel <guilhem.saurel@laas.fr>"]
license = "BSD-2-Clause"
readme = "README.md"
include = ['cmeel.pth']
homepage = "https://github.com/cmake-wheel/cmeel"
documentation = "https://cmeel.readthedocs.io/"
classifiers = [
    "Operating System :: MacOS",
    "Operating System :: POSIX :: Linux",
    "Programming Language :: C++",
    "Programming Language :: Python :: 3",
    "Topic :: Software Development :: Build Tools",
    "Topic :: System :: Archiving :: Packaging",
    "Topic :: System :: Software Distribution",
]

[tool.poetry.urls]
changelog = "https://github.com/cmake-wheel/cmeel/blob/main/CHANGELOG.md"

[tool.poetry.dependencies]
python = "^3.7"
tomli = "^2.0.1"
importlib-metadata = { version = "^4.12.0", python = "<3.8" }
cmake = { version = "^3.22.3", optional = true }
packaging = { version = "^21.3", optional = true }
wheel = { version = "^0.37.1", optional = true }


[tool.poetry.extras]
build = ["cmake", "packaging", "wheel"]

[tool.poetry.group.dev.dependencies]
Sphinx = "^5.1.1"
myst-parser = "^0.18.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
