name: Test docker builds

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: "Test docker on ${{ matrix.image }}_${{ matrix.arch }}"
    runs-on: "ubuntu-latest"
    strategy:
      matrix:
        image: ["manylinux_2_28", "musllinux_1_2"]
        arch: ["x86_64"]
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: "3.12"
          cache: 'pip'
      - name: setup
        run: python -m pip install -U pip
      - name: install cmeel
        run: python -m pip install .
      - name: clone cmeel-example
        run: git clone --recursive -j2 https://github.com/cmake-wheel/cmeel-example
      - name: build a manylinux/musllinux wheel for cmeel-example
        run: >
          python -m cmeel -vvv docker -UC $PWD/cmeel-example -p python3.12
          -i "quay.io/pypa/${{ matrix.image }}_${{ matrix.arch }}"
      - name: install and test it
        if: matrix.image == 'manylinux_2_28'
        run: |
          python -m pip install cmeel-example/wh/cmeel_example*.whl
          python -c "import cmeel_example; assert cmeel_example.cmeel_add(3, 4) == 7"
      - name: install and test it
        if: matrix.image == 'musllinux_1_1'
        run: >
          docker run --rm -v "$PWD/cmeel-example/wh:/wh" -t alpine:3.21 sh -c
          'apk add py3-pip &&
          python3 -m venv .venv &&
          . .venv/bin/activate &&
          python -m pip install /wh/cmeel_example*.whl &&
          python -c "import cmeel_example; assert cmeel_example.cmeel_add(3, 4) == 7"'


  check:
    if: always()
    name: check-macos-linux-docker

    needs:
      - test

    runs-on: Ubuntu-latest

    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
