name: Lints

on:
  push:
    branches:
      - cmeel
  pull_request:
    branches:
      - cmeel

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - run: uv sync --all-extras --dev
      - run: uv run pip freeze
      - run: uv run ruff check -e
      - run: uv run ruff format --check
      - run: uv run mypy .
